h1{
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Oswald', sans-serif;
}
h3{
    height: 153px;
    width: 315px;
    left: 564px;
    top: 1740.5px;
    border-radius: nullpx;

}
p{
    font-size: 20px;
    color: #f1f1f1;
    
}
.p1{
    color: black;
    font-size: 20px;
}
body{
    height: 100%;
    box-sizing: border-box;
}

.bg-image{
    background-image: url(images/donation0.jpg);
    filter: blur(2px);
    -webkit-filter: blur(2.5px);

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.bg-text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.button{
    border-radius: 10px;
    color: rgb(253, 253, 253);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color:rgba(255, 89, 89, 1);
    text-shadow: rgba(0,0,0, 0.4);
    
}
.border{
    width: 18cm;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.b2{
    height: 150%;
    box-sizing: border-box;
    font-weight: bold;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.tk{
    background:linear-gradient(0deg, #FFEEEE, #FFEEEE);
    


border-color:#FF5959;
color:#FF5959;
    padding: 35px 20px;
    text-align: center;
    text-size-adjust: 30px;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 10px;
    
    text-shadow: rgba(0,0,0, 0.4);
}
.plan{
    
    height: 352px;
    width: 360px;
    left: 157px;
    
}
image{
    float: right;
    padding: 15px;

}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}
#food{

    background: rgba(79, 157, 166, 0.1);
    height: 352px;
    width: 360px;

    border-radius: 5px;
    text-align: center;
    justify-content: center;

}

#shelter{
    background: rgba(255, 89, 89, 0.1);
    height: 352px;
    width: 360px;

    border-radius: 5px;
    text-align: center;
    justify-content: center;
    
}
#education{
    background: rgb(255, 236, 184);
    height: 352px;
    width: 360px;
   
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}
.h3-p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 153px;
    width: 315px;
    left: 564px;
    top: 1740.5px;
    border-radius: nullpx;

}
.flex-container2{
   display: flex;
    background: rgb(255, 236, 184);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: radius 2px;
    box-sizing: border-box;
    top: 70%;
    left: 70%;
    width: 50%;
    padding: 50px;
    

}

#dona9{
    display: block;
    position: absolute;
    height: 300px;
width: 300px;
left: 732px;
top: 2000px;
border-radius: [object Object]px;

}
.their-lives{
    
    position: absolute;
    height: 374px;
width: 493px;
left: 200px;
top: 2130px;
border-radius: 5px;


}


footer{
    display: flex;
    flex-direction: end;
    justify-content: center;
    
    background-color: black;
    height: 100px;
    width: 1400px;

    border-radius: 0px;
    text-align: center;

}